/net/HelloWorldApp/.vs
/net/HelloWorldApp/HelloWorldApp/obj
/net/HelloWorldApp/HelloWorldApp/bin
/android_studio/SignalrChatApp/gradle
/android_studio/SignalrChatApp/.idea
/android_studio/SignalrChatApp/app/build
